:root {
  /* Colors */

  --secondary-first-clr-hsl: 223, 100%, 88%;

  --primary-clr: hsl(223, 87%, 63%);
  --secondary-first-clr: hsl(223, 100%, 88%);
  --secondary-second-clr: hsl(354, 100%, 66%);
  --neutral-first-clr-hsl: hsl(0, 0%, 59%);
  --neutral-second-clr: hsl(209, 33%, 12%);
  --clr-100: hsl(0, 0%, 100%);

  --neutral-first-clr: 0, 0%, 59%;

  /* Font family */
  --ff-primary: "Libre Franklin", sans-serif;

  /* Font sizes */
  --fs-regular-400: 0.75rem;
  --fs-paragraph: 1.25rem;
  --fs-heading-mobile: 1.8rem;
  --fs-heading-dekstop: 3rem;

  /* Font weights */
  --fw-light: 300;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

/* CSS Resets */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
svg {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style-type: none;
}

input,
button {
  font: inherit;
}

p,
h1 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1;
}

/* Main Style */
body {
  display: grid;
  place-content: center;
  min-height: 100dvh;
  line-height: 1.5;
  font-family: var(--ff-primary);
  padding-inline: 2.5rem;
}

.container {
  display: grid;
  margin-inline: auto;
  text-align: center;
}

.logo {
  margin: 5rem auto 3.4rem auto;
}

.heading {
  font-size: var(--fs-heading-mobile);
  font-weight: var(--fw-light);
  color: hsl(var(--neutral-first-clr), 0.85);
}

.heading span {
  font-weight: var(--fw-bold);
  color: var(--neutral-second-clr);
}

.desc {
  margin: 1.2rem 0 2.2rem 0;
}

input {
  border-radius: 100vw;
  width: 100%;
  padding: 0.95rem 1.8rem;
  border: 1px solid var(--secondary-first-clr);
  transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

input::placeholder {
  color: var(--secondary-first-clr);
}

input:focus {
  outline: 1px solid var(--primary-clr);
}

.error-msg {
  visibility: hidden;
  font-size: smaller;
  font-style: italic;
  margin: 0.2rem 0 0.5rem 0;
  color: var(--secondary-second-clr);
}

[aria-invalid="true"],
[aria-invalid="true"]:focus-visible {
  outline: 2px solid var(--secondary-second-clr);
}

[aria-invalid="true"] ~ .error-msg {
  visibility: visible;
}

.email-input-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.button {
  display: block;
  border: none;
  width: 100%;
  border-radius: 100vw;
  padding: 1rem;
  font-weight: var(--fw-semi-bold);
  color: var(--clr-100);
  background-color: var(--primary-clr);
  cursor: pointer;
  box-shadow: 0px 6px 13px 2px var(--secondary-first-clr);
  transition: background-color 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button:hover {
  background-color: var(--neutral-second-clr);
}

.illustration {
  width: 40rem;
  height: max-content;
  margin-top: 3.4rem;
  margin-bottom: 4.4rem;
}

footer {
  display: grid;
  place-items: center;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1.38rem;
}

.social-icon {
  padding: 0.5rem;
  border-radius: 100vw;
  fill: var(--primary-clr);
  border: 1px solid hsl(var(--secondary-first-clr-hsl), 0.4);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.social-icon:hover {
  fill: var(--clr-100);
  background-color: var(--primary-clr);
}

.copyright {
  font-size: var(--fs-regular-400);
  color: var(--neutral-first-clr-hsl);
}

.attribution {
  font-size: var(--fs-regular-400);
  text-align: center;
  padding: 1rem;
}

.attribution a {
  color: var(--primary-clr);
}

/* Utilities */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.flex-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-inline: 1rem;
}

/* Desktop */
@media (min-width: 40em) {
  .heading {
    font-size: var(--fs-heading-dekstop);
  }

  .desc {
    font-size: var(--fs-paragraph);
  }

  .error-msg {
    text-align: left;
    padding-left: 0.5rem;
  }

  .flex-group {
    display: grid;
    gap: 1rem;
    grid-template-columns: 26.3rem 12.5rem;
    margin-inline: auto;
    padding-inline: 0rem;
  }
}
